@import '~bootstrap/scss/bootstrap';

.city,
.main-city {
  min-height: 45vh;
  height: 45vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hidden {
  opacity: 0;
}

.weather-info-container {
  min-width: 50%;
  width: fit-content;
  background: rgba(227, 242, 253, 0.8);
  font-size: 2.2rem;
  font-weight: bold;
  height: 240px;
  margin-top: 50px;
  padding: 25px;

  .temp-container {
    top: 85px;

    .minmax-temp {
      font-size: 1.5rem;
      white-space: nowrap;
      padding-right: 40px;
    }
  }
}
